*{
    margin:0px;
    padding: 0px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
    margin-bottom: -50px;
    background-image: url("images/logitech-background.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: auto;
}

.encabezado{
    background: linear-gradient(#252626, transparent);
}

.pie{
    background: #252626;
    padding-top: 20px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
}


.ui-menubar{
    background: #00A9E0;
}

.ui-menuitem{
    background: #00A9E0;
}

.tabla{
    background-color: #F4F4F4;
    width: 85%;
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.ui-datatable-header{
    background: #00A9E0;
}

.ui-datatable{
    background: #00A9E0;
}

.ui-datatable-data{
    background: #00A9E0;
}

.ui-datatable-empty-message{
    background: #676767;
    color: #FFFFFF;
}

.formulario{
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;

}

.p-field{
    margin-bottom: 3%;
}

.boton{
    background: #00A9E0;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
}

.boton:hover{
    background: #0090BF;
}

.ui-panel{
    background: #252626;
}

.ui-panel-titlebar{
    background: #00A9E0;
}